<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link href="../../stylesheets/video-js.min.css" rel="stylesheet">
    <title>Movies</title>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <video class="center-block video-js" id="my-video" height="550" width="850" controls preload="auto" data-setup="{}">
                <source src="<%= movie.movie_link %>">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h1><%= movie.title %></h1>
            <h4>Directed by: <%= movie.director%></h4>
            <p>Genre: <%= movie.genre %></p>
            <p>Release date: <%= movie.releaseYear %></p>
            <% if(user) { %>
                <% if (user.username == "admin" || user.username == "superuser") { %>
                    <p>Admin Options: </p>
                    <ul>
                        <li><a href="/api/movies/delete/<%= movie._id %>">Delete</a></li>
                    </ul>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<script src="../../javascript/video.min.js"></script>
</body>
</html>